body{
    margin:0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}


/* ------------------------------------NAVBAR-------------------------------- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
  }
  
  #logo{
    width: 35%;
  }
  .nav-left {
    display: flex;
    align-items: center;
  }

  .search-bar {
    display: flex;
    align-items: center;
    width: 750px;
    margin-right: 15%;
  }
  
  .search-bar input[type="text"] {
    border: none;
    padding: 8px;
    width: 90%;
    background-color: #e9f6f7;
    font-size: 14px;
    border: 1px solid #afebf0 ;
    border-radius: 5px 0 0 5px;
  }
  
  .search-bar button[type="submit"] {
    background-color: #ff6b5c;
    border: none;
    width: 10%;
    color: #fff;
    padding: 8px;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .nav-right{
    width: 25%;
  }

  .nav-right a {
    font-size: 32px;
    color: #34becb;
    margin-left: 15px;
    text-decoration: none;
  }
  
  .nav-right a:hover {
    color: #666;
  }

  /* ------------------------------------Sign Out button-------------------------------- */

  .signout{
    background-color: rgb(215, 67, 67);
    border:none;
    border-radius: 5px;
    height: 25px;
    margin-left: 5px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .signout:hover{
    background-color: white;
    color: red;
    border: 1px solid black;
  }

  /* ------------------------------------Mega Menu-------------------------------- */
/* 
  .navbar{
    width: 100%;
    background-color: #24a3b5;
    position: fixed;
    top: 80px;
  }
  .navbar>div{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    font-family: Arial;
  }

  #innernav{
    width: 60%;
    margin: auto;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #innernav>div{
    margin-left:0%;
  }

  #innernav>div:hover{
    font-weight: bold;
  } 

  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropbtn{
    font-size: 11px;
    color: rgb(255, 255, 255);
    background-color: #24a3b5;
    outline: none;
    border: none;
    
  }

  .dropdown{
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 10px 16px; 
    margin: 0; 
    cursor: pointer;
  }

  
  .navbar a:hover, .dropdown:hover .dropbtn {
    font-weight: bold;
    text-decoration: underline;
  }
  
  
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    width: 60%;
    top: 120px;
    right: 310px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  

  .dropdown-content .header {
    background: red;
    padding: 16px;
    color: white;
  }
  

  .dropdown:hover .dropdown-content {
    display: block;
    background-color: rgb(255, 255, 255);
  }
  
  .column {
    float: left;
    width: 17.80%;
    padding: 10px;
    background-color: #ffffff;
    height: 350px;
    font-size: 11px;
  }

  .column a {
    float: none;
    color: rgb(54, 54, 54);
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 11px;
  }
  
  .column>h3{
    color: black;
    text-align: center;
  }
  
  .column a:hover {
    background-color: #c9c9c9;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #ad{
    display: flex;
  }
 #ad>div:nth-child(1)>img{
    margin-left: 10%;
 }
 #ad>div:nth-child(2)>img{
    margin-left: 7%;
 } */
  

  /* ------------------------------------MAIN------------------------------- */

  #paymentmode{
    width:30%;
    margin: auto;
    border: 2px solid rgb(196, 196, 196);
    padding-top: 15px;
    margin-top: 10px
  }

  form>input{
    margin-left:20%;
    margin-right: 20%;
    width:60%;
    line-height: 30px;
    margin-top: 20px;
    border: 1px solid rgb(194, 190, 190);
    margin-bottom: 10px;
  }
  form>button{
    width:20%;
    margin-left: 40%;
    margin-right: 40%;
    height: 40px;
    background-color: #05b102;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  #paymentmode>input{
    margin-left: 40px;
} 


/* <!------------------------------------FOOTER--------------------------------->*/

#footer{
    display: flex;
    width: 100%;
    background-color: #eeeeee;
    border-top: 1px solid rgb(199, 199, 199);
    border-bottom: 1px solid rgb(199, 199, 199);
    padding-bottom: 15px;
  }
  
  #footer>div{
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-left:20px;
    text-align: left;
    line-height: 30px;
  }
  
  #footer a{
   text-decoration: none;
   color: #606060;
   font-size: 12px;
  }
  
  #social{
    width: 100%;
    display: flex;
    margin: auto;
    background-color: #eeeeee;
    border-bottom: 1px solid rgb(199, 199, 199);
    padding-bottom: 15px;
  }
  
  #social>div{
    width: 48%;
    margin: auto;
  }
  
  #social img{
    width: 100%;
  }
  
  #social i{
    font-size: 30px;
    margin-left: 3%;
    color: #24a3b5;
  }
  
  #lastline{
    background-color: #eeeeee;
    margin:auto;
    text-align: center;
    padding-top:2px;
    font-size: 15px;
    line-height: 25px;
    padding-bottom:2px;
  }
  

   /*-------------------------------------Responsive-----------------------------------*/

@media only screen and (max-width: 1280px){
   
  #logo{
    width: 55%;
  }

  nav {
    padding: 16px;
    width: 100%;
  }
  
  .navbar{
    margin-top: 40px;
  }

  .nav-right {
    width: 30%;
    padding-left: 5px;
  }

  .nav-right a{
    margin-left:10px;
  }

  /* .nav-right>a:nth-child(2),.nav-right>a:nth-child(3) {
    display: none;
  } */
  /* .nav-right{
    width: 45%;
  }

  .nav-right a{
    margin-left: 15px;
  } */

  .signout{
    margin-left: 50%;
  }

  .nav-left{
    width: 60%;
  }

  #paymentmode{
    width: 50%;
  }

  #footer{
    width: 100%;
  }

  #social{
    width: 100%;
  }

  #lastline{
    width: 100%;
  }

}

@media only screen and (max-width: 900px) and (min-width: 601px){
  nav {
    padding: 10px;
    width: 100%;
    padding-bottom: 10px;
    margin: 0;
  }

#logo{
  width: 85%;
}

.nav-left {
  width: 65%;
  height: 100px;
}


.nav-right {
  width: 30%;
  padding-left: 5px;
}

.nav-right a{
  margin-left: 10px;
}

.nav-right>a:nth-child(2),.nav-right>a:nth-child(3) {
  display: none;
}

.signout{
  margin-left: 40%;
}

#paymentmode{
  width: 60%;
  margin-left: 20%;
}

#footer{
  width: 100%;
}

#social{
  width: 100%;
}

#lastline{
  width: 100%;
}

}

@media only screen and (min-width:301px) and (max-width: 600px) {
  nav {
    width: 100%;
    padding: 10px;
  }

  #logo{
    width:150%;
  }

  .nav-left{
    width: 50%;
    height: 50px;
  }
  
  .nav-right {
    width: 30%;
    padding-left: 5px;
  }

  .nav-right a{
    margin-left: 0px;
  }

  .nav-right>a:nth-child(2),.nav-right>a:nth-child(3){
    display: none;
  }

  .navbar{
    margin-top: 30px;
  }

  .signout{
    margin-left: 40%;
  }

  #paymentmode{
    width: 100%;
    margin-left: 30px;
  }

  #footer{
    width: 110%;
  }

  #social{
    width: 110%;
  }

  #lastline{
    width: 110%;
  }
}

@media only screen and (max-width: 300px){
  nav {
    width: 100%;
    padding: 10px;
  }

  #logo{
    width: 85%;
  }
  
  .nav-left {
    width: 55%;
    height: 100px;
  }
  
  .nav-right {
    width: 50%;
    padding-left: 5px;
  }

  .nav-right a{
    margin-left: 5px;
  }

  .nav-right>a:nth-child(2),.nav-right>a:nth-child(3) {
    display: none;
  }

  .navbar{
    margin-top: 25px;
  }
 
  #logo{
      width: 50%;
  }

  .signout{
    margin-left: 50%;
  }

  #paymentmode{
    width: 170%;
    margin-left: 30px;
  }

  #footer{
    width: 200%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }

  #social{
    width: 200%;
  }

  #lastline{
    width: 200%;
  }
}


  
