<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="./styles/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

  <!-----------------------------------NAVBAR---------------------------------->
    <nav>
        <div class="nav-left">
          <a style="padding: 0px;" href=""><img id="logo" src="./images/Project-Logo.jpg" alt="ProjectLogo"></a>
          <div class="search-bar">
            <input type="text" placeholder="What is in your mind today?">
            <button type="submit"><i class="fa fa-search"></i></button>
          </div>
        </div>
        <div class="nav-right">
          <a href="#"><i class="fa fa-shopping-cart"></i></a>
          <a href="#"><i class="fa fa-question-circle"></i></a>
          <a href="#"><i class="fa fa-heart"></i></a>
          <a href="#"><i class="fa fa-user"></i></a>
          <a href="" style="font-size: 15px; color: black; text-decoration: underline;">Sign In</a>
        </div>
    </nav>

  <!-----------------------------------MEGA MENU---------------------------------->
  <div class="navbar">
    <div id="innernav">
    <div class="dropdown">
        <button class="dropbtn">MOBILES</button>
        <div class="dropdown-content">
          <div class="row">
            <div class="column">
              <h3>Wood, Plywood, Veener & Laminates</h3><hr>
              <a href="#">Plywoods</a>
              <a href="#">laminates</a>
              <a href="#">Wood Boards</a>
              <a href="#">HardWood</a>
              <a href="#">Wall Panels</a>
            </div>

            <div class="column">
              <h3>Steel Bars, Rods, Plate & Sheets</h3><hr>
              <a href="#">TMT Bars</a>
              <a href="#">Steel Plates</a>
              <a href="#">Steel Rods</a>
              <a href="#">Mild Steel Bars</a>
              <a href="#">Steel bars</a>
            </div>

            <div class="column">
              <h3>Roofing items, Sheets and False Ceiling</h3><hr>
              <a href="#">Roofing Sheets</a>
              <a href="#">False Ceiling</a>
              <a href="#">Metal Roofing Sheet</a>
              <a href="#">GI Sheet</a>
              <a href="#">Roof Tiles</a>
            </div>

            <div class="column">
                <h3>PVC, FRP, HDPE, & Other Plastic Pipes</h3><hr>
                <a href="#">PVC Pipes</a>
                <a href="#">Plumbing Pipes</a>
                <a href="#">Borewell Pipes</a>
                <a href="#">CPVC Pipes</a>
                <a href="#">Drainage Pipes</a>
              </div>

              <div class="column">
                <h3>Building & Construction Machines</h3><hr>
                <a href="#">Brick Making Machines</a>
                <a href="#">Contruction Machines</a>
                <a href="#">Crushing Machines</a>
                <a href="#">Block Making Machines</a>
                <a href="#">Concrete Mixers</a>
              </div>
          </div>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">MEN</button>
        <div class="dropdown-content">
            <div class="row">
              <div class="column">
                <h3>Office Automation Products & Devices</h3><hr>
                <a href="./xerox.html">Xerox Machines</a>
                <a href="./BillingMachine.html">Billing Machines</a>
                <a href="#">Projector</a>
                <a href="#">Computer Printers</a>
                <a href="#">Laser Printers</a>
              </div>

              <div class="column">
                <h3>Solar & Renewable Energy Products</h3><hr>
                <a href="#">Solar Panels</a>
                <a href="#">Solar Power Plants</a>
                <a href="#">Solar Lighting</a>
                <a href="#">Water Pumps</a>
                <a href="#">Water Heaters</a>
              </div>

              <div class="column">
                <h3>Indoor Lights & Lighting Accessories</h3><hr>
                <a href="#">Light Bulb</a>
                <a href="#">Bulb Raw Material</a>
                <a href="#">LED Bulb</a>
                <a href="#">Tubelight</a>
                <a href="#">Ceiling Lights</a>
              </div>

              <div class="column">
                  <h3>Batteries & Charge Storage Devices</h3><hr>
                  <a href="#">Inverter Batteries</a>
                  <a href="#">Lithium Battery</a>
                  <a href="#">Automative Batteries</a>
                  <a href="#">Electric Vehicle Battery</a>
                  <a href="#">Battery Chargers</a>
                </div>

                <div class="column">
                  <h3>LED, LCD, Smart TV and Home Theatre</h3><hr>
                  <a href="#">LED TV</a>
                  <a href="#">Set Top Box</a>
                  <a href="#">Home Theatre</a>
                  <a href="#">Smart TV</a>
                  <a href="#">DTH Kit</a>
                </div>
            </div>
          </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">WOMEN</button>
        <div class="dropdown-content">
            <div class="row">
              <div class="column">
                <h3>Common Disease Medicines</h3><hr>
                <a href="#">Pharmaceutical Tablets</a>
                <a href="#">Pharmaceutical Medicines</a>
                <a href="#">Pharmaceutical Syrups</a>
                <a href="#">Pharmaceutical Injectables</a>
                <a href="#">Cough Syrup</a>
              </div>

              <div class="column">
                <h3>Ayurbedic, Herbal, Products & Medicine</h3><hr>
                <a href="#">Herbal Syrups</a>
                <a href="#">Herbal Ayurbedic Medicines</a>
                <a href="#">Ayurbedic Tablets</a>
                <a href="#">Herb Capsule</a>
                <a href="#">Areca Nut</a>
              </div>

              <div class="column">
                <h3>Nutraceuticals & Dietary Supplments</h3><hr>
                <a href="#">Nutritional Supplements</a>
                <a href="#">Weight Gain Nutrition</a>
                <a href="#">Protein Powder</a>
                <a href="#">Multivitamin Tablets</a>
                <a href="#">Calcium Tablets</a>
              </div>

              <div class="column">
                  <h3>Anti Infective Drugs & Medicines</h3><hr>
                  <a href="#">Hydroxychloroquine Sulphate</a>
                  <a href="#">Chloroquine Phosphate</a>
                  <a href="#">Antifungal Cream</a>
                  <a href="#">Tenofovir Tablet</a>
                  <a href="#">Anti HIV Drugs</a>
                </div>

                <div class="column">
                  <h3>Cardiovascular Drugs & Medication</h3><hr>
                  <a href="#">Erythropoietin Injection</a>
                  <a href="#">Insulin Pen</a>
                  <a href="#">Metformin Tablets</a>
                  <a href="#">Antidiabetic Medicines</a>
                  <a href="#">Enoxaparin Injection</a>
                </div>
            </div>
          </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">HOME DECOR</button>
        <div class="dropdown-content">
            <div class="row">
              <div class="column">
                <h3>Water Treatment & Purification Plant</h3><hr>
                <a href="#">Water Purification Plants</a>
                <a href="#">Water Treatment Plants</a>
                <a href="#">Reverse Osmosis Plants</a>
                <a href="#">Mineral Water Plants</a>
                <a href="#">Industrial RO System</a>
              </div>

              <div class="column">
                <h3>Food Processing Plants & Machinery</h3><hr>
                <a href="#">Rice Mill Machinery</a>
                <a href="#">Sugarcane Juice</a>
                <a href="#">Mixer Grinder</a>
                <a href="#">Juicer Mixer Grinder</a>
                <a href="#">Animal Feed Making Machines</a>
              </div>

              <div class="column">
                <h3>Printing Machinery & Equipments</h3><hr>
                <a href="#">Offset Printing Machines</a>
                <a href="#">Card Printer</a>
                <a href="#">Barcode Printers</a>
                <a href="#">Cutting Plotter</a>
                <a href="#">Screen Printing Equipments</a>
              </div>

              <div class="column">
                  <h3>Sewing, Knitting & Embroidery Machine</h3><hr>
                  <a href="#">Flat Knitting Machines</a>
                  <a href="#">Industrial Sewing Machines</a>
                  <a href="#">Home Sewing Machine</a>
                  <a href="#">Knitting Machine</a>
                  <a href="#">Sewing Machine Parts</a>
                </div>

                <div class="column">
                  <h3>Fast Food & Beverages Machinery</h3><hr>
                  <a href="#">Snack Machine</a>
                  <a href="#">Tea Maker</a>
                  <a href="#">Coffee Machine</a>
                  <a href="#">Noodle Machine</a>
                  <a href="#">Extruder Machine</a>
                </div>
            </div>
          </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">APPLIANCES</button>
        <div class="dropdown-content">
            <div class="row">
              <div class="column">
                <h3>Pumps, Pumping Machines & Spares</h3><hr>
                <a href="#">Water Pumps</a>
                <a href="#">Diesel Engine Pump Sets</a>
                <a href="#">Monoblock Pumps</a>
                <a href="#">Pressure Pumps</a>
                <a href="#">Fuel Pump</a>
              </div>

              <div class="column">
                <h3>Storage tanks, Drums & Containers</h3><hr>
                <a href="#">Water Tanks</a>
                <a href="#">Plastic Water Tanks</a>
                <a href="#">Shipping Containers</a>
                <a href="#">Plastic Drums</a>
                <a href="#">Barrels</a>
              </div>

              <div class="column">
                <h3>Oil, Grease & Lubricants</h3><hr>
                <a href="#">Automative Oils</a>
                <a href="#">Lubricating Oils</a>
                <a href="#">Grease</a>
                <a href="#">Compressor Oil</a>
                <a href="#">Diesel Engine Oil</a>
              </div>

              <div class="column">
                  <h3>Adhesive & Pressure Sensitive Tapes</h3><hr>
                  <a href="#">Packaging Tapes</a>
                  <a href="#">Sealing Tape</a>
                  <a href="#">Decorative Tape</a>
                  <a href="#">Electric Tape</a>
                  <a href="#">Stationary Tapes</a>
                </div>

                <div class="column">
                  <h3>Heater, Thermostat & Heating Devices</h3><hr>
                  <a href="#">Water Heater & Geyser</a>
                  <a href="#">Room heaters</a>
                  <a href="#">Heating Elements</a>
                  <a href="#">Heating Component & Spares</a>
                  <a href="#">Water Immersion Heater</a>
                </div>
            </div>
          </div>
      </div>
    <div class="dropdown">
      <button class="dropbtn">SPORTS</button>
      <div class="dropdown-content">
        <div class="row">
          <div class="column">
            <h3>Cereals & Food Grains</h3><hr>
            <a href="#">Wheat Flour</a>
            <a href="#">Rice</a>
            <a href="#">Wheat</a>
            <a href="#">Toor Daal</a>
            <a href="#">Sugar</a>
          </div>

          <div class="column">
            <h3>Meat & Poultry Food</h3><hr>
            <a href="#">Chicken</a>
            <a href="#">Broller Chicken</a>
            <a href="#">Egg</a>
            <a href="#">Goat Meat</a>
            <a href="#">Poultry Eggs</a>
          </div>

          <div class="column">
            <h3>Fresh, Dried & Preserved Vegetables</h3><hr>
            <a href="#">Potato</a>
            <a href="#">Fresh Vegetables</a>
            <a href="#">Onion</a>
            <a href="#">Red Onion</a>
            <a href="#">Tomato</a>
          </div>

          <div class="column">
              <h3>Milk & Dairy Products</h3><hr>
              <a href="#">Milk</a>
              <a href="#">Pure Ghee</a>
              <a href="#">Paneer</a>
              <a href="#">Ice Cream</a>
              <a href="#">Milk Powder</a>
            </div>

            <div class="column">
              <h3>Cooking Spices and Masala</h3><hr>
              <a href="#">Green Cardamom</a>
              <a href="#">Black Pepper</a>
              <a href="#">Cardamom</a>
              <a href="#">Cumim Seeds</a>
              <a href="#">Turmeric</a>
            </div>
        </div>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">ESSENTIALS</button>
      <div class="dropdown-content">
        <div class="row">
          <div class="column">
            <h3>Cereals & Food Grains</h3><hr>
            <a href="#">Wheat Flour</a>
            <a href="#">Rice</a>
            <a href="#">Wheat</a>
            <a href="#">Toor Daal</a>
            <a href="#">Sugar</a>
          </div>

          <div class="column">
            <h3>Meat & Poultry Food</h3><hr>
            <a href="#">Chicken</a>
            <a href="#">Broller Chicken</a>
            <a href="#">Egg</a>
            <a href="#">Goat Meat</a>
            <a href="#">Poultry Eggs</a>
          </div>

          <div class="column">
            <h3>Fresh, Dried & Preserved Vegetables</h3><hr>
            <a href="#">Potato</a>
            <a href="#">Fresh Vegetables</a>
            <a href="#">Onion</a>
            <a href="#">Red Onion</a>
            <a href="#">Tomato</a>
          </div>

          <div class="column">
              <h3>Milk & Dairy Products</h3><hr>
              <a href="#">Milk</a>
              <a href="#">Pure Ghee</a>
              <a href="#">Paneer</a>
              <a href="#">Ice Cream</a>
              <a href="#">Milk Powder</a>
            </div>

            <div class="column">
              <h3>Cooking Spices and Masala</h3><hr>
              <a href="#">Green Cardamom</a>
              <a href="#">Black Pepper</a>
              <a href="#">Cardamom</a>
              <a href="#">Cumim Seeds</a>
              <a href="#">Turmeric</a>
            </div>
        </div>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">OFFERS</button>
      <div class="dropdown-content">
        <div class="row">
          <div class="column">
            <h3>Cereals & Food Grains</h3><hr>
            <a href="#">Wheat Flour</a>
            <a href="#">Rice</a>
            <a href="#">Wheat</a>
            <a href="#">Toor Daal</a>
            <a href="#">Sugar</a>
          </div>

          <div class="column">
            <h3>Meat & Poultry Food</h3><hr>
            <a href="#">Chicken</a>
            <a href="#">Broller Chicken</a>
            <a href="#">Egg</a>
            <a href="#">Goat Meat</a>
            <a href="#">Poultry Eggs</a>
          </div>

          <div class="column">
            <h3>Fresh, Dried & Preserved Vegetables</h3><hr>
            <a href="#">Potato</a>
            <a href="#">Fresh Vegetables</a>
            <a href="#">Onion</a>
            <a href="#">Red Onion</a>
            <a href="#">Tomato</a>
          </div>

          <div class="column">
              <h3>Milk & Dairy Products</h3><hr>
              <a href="#">Milk</a>
              <a href="#">Pure Ghee</a>
              <a href="#">Paneer</a>
              <a href="#">Ice Cream</a>
              <a href="#">Milk Powder</a>
            </div>

            <div class="column">
              <h3>Cooking Spices and Masala</h3><hr>
              <a href="#">Green Cardamom</a>
              <a href="#">Black Pepper</a>
              <a href="#">Cardamom</a>
              <a href="#">Cumim Seeds</a>
              <a href="#">Turmeric</a>
            </div>
        </div>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">GLOBAL SHOPPING</button>
      <div class="dropdown-content">
        <div class="row">
          <div class="column">
            <h3>Cereals & Food Grains</h3><hr>
            <a href="#">Wheat Flour</a>
            <a href="#">Rice</a>
            <a href="#">Wheat</a>
            <a href="#">Toor Daal</a>
            <a href="#">Sugar</a>
          </div>

          <div class="column">
            <h3>Meat & Poultry Food</h3><hr>
            <a href="#">Chicken</a>
            <a href="#">Broller Chicken</a>
            <a href="#">Egg</a>
            <a href="#">Goat Meat</a>
            <a href="#">Poultry Eggs</a>
          </div>

          <div class="column">
            <h3>Fresh, Dried & Preserved Vegetables</h3><hr>
            <a href="#">Potato</a>
            <a href="#">Fresh Vegetables</a>
            <a href="#">Onion</a>
            <a href="#">Red Onion</a>
            <a href="#">Tomato</a>
          </div>

          <div class="column">
              <h3>Milk & Dairy Products</h3><hr>
              <a href="#">Milk</a>
              <a href="#">Pure Ghee</a>
              <a href="#">Paneer</a>
              <a href="#">Ice Cream</a>
              <a href="#">Milk Powder</a>
            </div>

            <div class="column">
              <h3>Cooking Spices and Masala</h3><hr>
              <a href="#">Green Cardamom</a>
              <a href="#">Black Pepper</a>
              <a href="#">Cardamom</a>
              <a href="#">Cumim Seeds</a>
              <a href="#">Turmeric</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

    <script src="./scripts/index.js"></script>
</body>
</html>