<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Men's Clothing</title>
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico">
    <link rel="stylesheet" href="./styles/mensproduct.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <!-----------------------------------NAVBAR---------------------------------->
    <nav>
        <div class="nav-left">
          <a style="padding: 0px;" href="./index.html"><img id="logo" src="./images/Project-Logo.jpg" alt="ProjectLogo"></a>
          <div class="search-bar">
            <input id="search" type="text" placeholder="What is in your mind today?">
            <button id="search-btn" type="submit"><i class="fa fa-search"></i></button>
          </div>
        </div>
        <div class="nav-right">
          <a id="carticon" href="#"><i class="fa fa-shopping-cart"></i></a>
          <a href="#"><i class="fa fa-question-circle"></i></a>
          <a href="#"><i class="fa fa-heart"></i></a>
          <a id="usericon" href="#"><i class="fa fa-user"></i></a>
          <a href="./signup.html" id="loginlink" class="toggle" style="font-size: 15px; color: black; text-decoration: underline;"><p id="username" style="display: inline;">Login / SignUp</p></a>
        </div>
        </div>
    </nav>

<!-----------------------------------MEGA MENU---------------------------------->
<div class="navbar">
    <div id="innernav">
    <div class="dropdown">
        <button class="dropbtn">MOBILES</button>
        <div class="dropdown-content">
          <div class="row">
            <div class="column">
              <h3>Smartphones & Tablets</h3><hr>
              <a href="#">Realme</a>
              <a href="#">Samsung</a>
              <a href="#">Vivo</a>
              <a href="#">Oppo</a>
              <a href="#">Micromax</a>
              <a href="#">Infinix</a>
              <a href="#">Xiaomi</a>
            </div>

            <div class="column">
              <h3>Branded Accessories</h3><hr>
              <a href="#">Titan</a>
              <a href="#">Toshiba</a>
              <a href="#">Sandisk</a>
              <a href="#">Philips</a>
              <a href="#">Portronics</a>
              <a href="#">Zebronics</a>
              <a href="#">Boat</a>
            </div>

            <div class="column">
              <h3>Feature Phones</h3><hr>
              <a href="#">I Kall</a>
              <a href="#">Nokia</a>
              <a href="#">MTR</a>
              <a href="#">Oppo</a>
              <a href="#">Heemax</a>
              <a href="#">Karbonn</a>
              <a href="#">G-Five</a>
            </div>

            <div class="column">
                <h3>Laptops</h3><hr>
                <a href="#">HP</a>
                <a href="#">Lenovo</a>
                <a href="#">Asus</a>
                <a href="#">Microsoft</a>
                <a href="#">Acer</a>
              </div>

              <div class="column">
                <h3>Accessories</h3><hr>
                <a href="#">Powerbanks</a>
                <a href="#">Cases & Covers</a>
                <a href="#">Mobile Holder</a>
                <a href="#">Cables</a>
                <a href="#">Selfie Sticks</a>
                <a href="#">Combos</a>
                <a href="#">Adapters & Chargers</a>
              </div>
          </div>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn" onclick="mensP()">MEN</button>
        <div class="dropdown-content">
            <div class="row">
              <div class="column">
                <h3>Men's Clothing</h3><hr>
                <a href="./mensProduct.html">T-Shirt</a>
                <a href="./mensProduct.html">Shirt</a>
                <a href="./mensProduct.html">Jeans</a>
                <a href="./mensProduct.html">Cargo</a>
                <a href="./mensProduct.html">Trousers</a>
                <a href="./mensProduct.html">Jackets</a>
                <a href="./mensProduct.html">Ethnic Wear</a>
              </div>

              <div class="column">
                <h3>Footwear</h3><hr>
                <a href="#">Casual Shoes</a>
                <a href="#">Sports Shoes</a>
                <a href="#">Formal Shoes</a>
                <a href="#">Boots</a>
                <a href="#">Sandals & Floaters</a>
                <a href="#">Slippers</a>
                <a href="#">Loafers</a>
              </div>

              <div class="column">
                <h3>Men's Watches</h3><hr>
                <a href="#">Watch Combos</a>
                <a href="#">Couple Watches</a>
                <a href="#">Fastrack</a>
                <a href="#">Sonata & more</a>
                <a href="#">Budget Watches</a>
                <a href="#">Smart Watches</a>
              </div>

              <div class="column">
                  <h3>Men's Jewellery</h3><hr>
                  <a href="#">Fasion Jewellery</a>
                  <a href="#">Chain & Pedants</a>
                  <a href="#">Precious Jewellery</a>
                  <a href="#">Silver Jewellery</a>
                  <a href="#">Coins</a>
                  <a href="#">Gold Jewellery</a>
                  <a href="#">Collectibles</a>
                </div>

                <div class="column">
                  <h3>Bags & Luggage</h3><hr>
                  <a href="#">Backpacks</a>
                  <a href="#">Laptop Bags</a>
                  <a href="#">Gym Bags</a>
                  <a href="#">Trolleys & Duffle Bags</a>
                  <a href="#">Messenger Bags</a>
                  <a href="#">Rucksacks</a>
                </div>
            </div>
          </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">WOMEN</button>
        <div class="dropdown-content">
            <div class="row">
              <div class="column">
                <h3>Ethnic Wear</h3><hr>
                <a href="#">Sarees</a>
                <a href="#">Kurta & Kurtis</a>
                <a href="#">Lehenga & Party Gowns</a>
                <a href="#">Dress Material</a>
                <a href="#">Mela Store</a>
                <a href="#">Leggings & Churidar</a>
              </div>

              <div class="column">
                <h3>Western Wear</h3><hr>
                <a href="#">Tops & Tees</a>
                <a href="#">Dresses</a>
                <a href="#">Jeans & Jeggings</a>
                <a href="#">Pants & Trousers</a>
                <a href="#">Skirts</a>
                <a href="#">Code Yellow Store</a>
              </div>

              <div class="column">
                <h3>Footwear</h3><hr>
                <a href="#">Casual Shoes</a>
                <a href="#">Flats & Sandals</a>
                <a href="#">Protein Powder</a>
                <a href="#">Heels & Pumps</a>
                <a href="#">Sports Shoes</a>
                <a href="#">Wedges</a>
                <a href="#">Bellies</a>
              </div>

              <div class="column">
                  <h3>All Jewellery</h3><hr>
                  <a href="#">Fashion Jewellery</a>
                  <a href="#">Necklace Sets</a>
                  <a href="#">Mangalsutra & Bangles</a>
                  <a href="#">Earrings & Rings</a>
                  <a href="#">Gold Jewellery</a>
                  <a href="#">Diamond Jewellery</a>
                  <a href="#">Silver Jewellery</a>
                </div>

                <div class="column">
                  <h3>Beauty & Perfumes</h3><hr>
                  <a href="#">Skin Care</a>
                  <a href="#">Make-Up</a>
                  <a href="#">Hair Care</a>
                  <a href="#">Beauty Applliances</a>
                  <a href="#">Grooming Appliances</a>
                  <a href="#">Perfumes</a>
                  <a href="#">Deodorants</a>
                </div>
            </div>
          </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">HOME DECOR</button>
        <div class="dropdown-content">
            <div class="row">
              <div class="column">
                <h3>Kitchen & Dining</h3><hr>
                <a href="#">Dinner Sets</a>
                <a href="#">Cookwares</a>
                <a href="#">Kitchen Tools</a>
                <a href="#">Lunch Box</a>
                <a href="#">Kitchen Storage</a>
              </div>

              <div class="column">
                <h3>Kitchen Appliances</h3><hr>
                <a href="#">Gas Cooktops</a>
                <a href="#">Juicer Mixer Grinders</a>
                <a href="#">Induction Cooktops</a>
                <a href="#">Kettles</a>
                <a href="#">Sanwich Makers</a>
                <a href="#">Blenders & Choppers</a>
              </div>

              <div class="column">
                <h3>Home Furnishing</h3><hr>
                <a href="#">Homeberry</a>
                <a href="#">Bedsheets</a>
                <a href="#">Curtains</a>
                <a href="#">Carpets & Rugs</a>
                <a href="#">Blankets</a>
                <a href="#">Towels</a>
                <a href="#">Furnishing Combos</a>
              </div>

              <div class="column">
                  <h3>Lighting Solutions</h3><hr>
                  <a href="#">LED Bulbs</a>
                  <a href="#">Tubelights & Battens</a>
                  <a href="#">Rechargeable Lights</a>
                  <a href="#">Electrical</a>
                  <a href="#">Panel & Ceiling Lights</a>
                </div>

                <div class="column">
                  <h3>Decor</h3><hr>
                  <a href="#">Clocks</a>
                  <a href="#">Hookahs & Accessories</a>
                  <a href="#">Wall Decor</a>
                  <a href="#">Religion & Sprituality</a>
                  <a href="#">Table Decoratives</a>
                  <a href="#">Garden</a>
                </div>
            </div>
          </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">APPLIANCES</button>
        <div class="dropdown-content">
            <div class="row">
              <div class="column">
                <h3>TV & DTH</h3><hr>
                <a href="#">Television</a>
                <a href="#">Full HD</a>
                <a href="#">HD Ready</a>
                <a href="#">Ultra HD</a>
              </div>

              <div class="column">
                <h3>Shop TV by Screen</h3><hr>
                <a href="#">Below 32 inch</a>
                <a href="#">32 inch</a>
                <a href="#">39-42 inch</a>
                <a href="#">43 inch & Above</a>
              </div>

              <div class="column">
                <h3>Large Home Appliances</h3><hr>
                <a href="#">Refrigerators</a>
                <a href="#">Split ACs</a>
                <a href="#">Window ACs</a>
                <a href="#">Washing Machines</a>
                <a href="#">Geysers</a>
                <a href="#">Heaters</a>
              </div>

              <div class="column">
                  <h3>Sensitive Tapes</h3><hr>
                  <a href="#">Packaging Tapes</a>
                  <a href="#">Sealing Tape</a>
                  <a href="#">Decorative Tape</a>
                  <a href="#">Electric Tape</a>
                  <a href="#">Stationary Tapes</a>
                </div>

                <div class="column">
                  <h3>Large Kitchen Appliances</h3><hr>
                  <a href="#">Chimney and Hoods</a>
                  <a href="#">Microwave</a>
                  <a href="#">Halogen Ovens</a>
                  <a href="#">OTG</a>
                  <a href="#">Dishwashers</a>
                </div>
            </div>
          </div>
      </div>
    <div class="dropdown">
      <button class="dropbtn">SPORTS</button>
      <div class="dropdown-content">
        <div class="row">
          <div class="column">
            <h3>Diet Nutrition</h3><hr>
            <a href="#">Whey Protein</a>
            <a href="#">Weight Gainers</a>
            <a href="#">Pre & Post Workout</a>
            <a href="#">Fat Burners</a>
            <a href="#">Vitamins & Minerals</a>
            <a href="#">Ayurveda & Herbal</a>
          </div>

          <div class="column">
            <h3>Healthcare</h3><hr>
            <a href="#">Flu Care</a>
            <a href="#">Massage</a>
            <a href="#">Weighing Scales</a>
            <a href="#">BP Monitors</a>
            <a href="#">Elderly Care</a>
          </div>

          <div class="column">
            <h3>Fitness & Excercise</h3><hr>
            <a href="#">Ab Exerciser</a>
            <a href="#">Home Gyms</a>
            <a href="#">Exercise Bikes</a>
            <a href="#">Treadmills</a>
            <a href="#">Cardio Equipment</a>
          </div>

          <div class="column">
              <h3>Sports</h3><hr>
              <a href="#">Cricket Bats</a>
              <a href="#">Footballs</a>
              <a href="#">Badminton</a>
              <a href="#">Table Tennis</a>
              <a href="#">Basketball</a>
            </div>

            <div class="column">
              <h3>Daily Needs</h3><hr>
              <a href="#">Food & Beverages</a>
              <a href="#">Household Supplies</a>
              <a href="#">Pet Supplies</a>
              <a href="#">Stationary</a>
              <a href="#">Books</a>
            </div>
        </div>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">ESSENTIALS</button>
      <div class="dropdown-content">
        <div class="row">
          <div class="column">
            <h3>Cereals & Food Grains</h3><hr>
            <a href="#">Wheat Flour</a>
            <a href="#">Rice</a>
            <a href="#">Wheat</a>
            <a href="#">Toor Daal</a>
            <a href="#">Sugar</a>
          </div>

          <div class="column">
            <h3>Meat & Poultry Food</h3><hr>
            <a href="#">Chicken</a>
            <a href="#">Broller Chicken</a>
            <a href="#">Egg</a>
            <a href="#">Goat Meat</a>
            <a href="#">Poultry Eggs</a>
          </div>

          <div class="column">
            <h3>Household Supplies</h3><hr>
            <a href="#">Laundry & Detergents</a>
            <a href="#">Disposables</a>
            <a href="#">Repellents & Devices</a>
            <a href="#">Pooja Essentials</a>
          </div>

          <div class="column">
              <h3>Personal Care</h3><hr>
              <a href="#">Men's Grooming</a>
              <a href="#">Feminine Hygiene</a>
              <a href="#">Oral Care</a>
              <a href="#">Hair Care</a>
              <a href="#">Fragrance</a>
            </div>

            <div class="column">
              <h3>Pharma</h3><hr>
              <a href="#">Ayurveda</a>
              <a href="#">Pain Relief</a>
              <a href="#">Sexual Wellness</a>
              <a href="#">Homeopathy</a>
            </div>
        </div>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">OFFERS</button>
      <div class="dropdown-content">
        <div class="row">
          <div class="column">
            <h3>Popular Categories</h3><hr>
            <a href="#">Women Ethnic</a>
            <a href="#">Mens T-Shirt</a>
            <a href="#">Watches</a>
            <a href="#">Mens Footwear</a>
            <a href="#">Women Western Wear</a>
            <a href="#">Home Furnishing</a>
          </div>

          <div class="column">
            <h3>Wholesale</h3><hr>
            <a href="#">Laptop & Mobile</a>
            <a href="#">Fashion</a>
            <a href="#">Home & Kitchen</a>
            <a href="#">Footwear</a>
          </div>

          <div class="column">
            <h3>Featured Brands</h3><hr>
            <a href="#">Stylogue</a>
            <a href="#">IKall</a>
            <a href="#">Eglob</a>
            <a href="#">Walltola</a>
            <a href="#">Seagate HD</a>
            <a href="#">DCH</a>
          </div>

          <div class="column">
              <h3>Shop by Price</h3><hr>
              <a href="#">Under 99</a>
              <a href="#">Under 199</a>
              <a href="#">Under 299</a>
              <a href="#">Under 399</a>
              <a href="#">Above 499</a>
            </div>

            <div class="column">
              <h3>Shop by Discount</h3><hr>
              <a href="#">Upto 10% Off</a>
              <a href="#">Upto 25% Off</a>
              <a href="#">Upto 50% Off</a>
              <a href="#">Upto 60% Off</a>
              <a href="#">Upto 80% Off</a>
            </div>
        </div>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">GLOBAL</button>
    </div>
  </div>
</div><br>

<!------------------------------------MAIN--------------------------------->
<div id="locate">
  <a href="./index.html">Home</a> > <a href="./mensProduct.html">Men's Clothing</a>
</div>

<div id="main">
  <div id="left">
    <button id="reset">Reset All</button>
    <div class="filter-box">
      <h2>Select by Top Brands</h2>
      <label><input type="checkbox" class="brand" value="Akaas"> Akaas</label>
      <label><input type="checkbox" class="brand" value="Adidas"> Adidas</label>
      <label><input type="checkbox" class="brand" value="Prijam"> Prijam</label>
      <label><input type="checkbox" class="brand" value="Raymond"> Raymond</label>
      <label><input type="checkbox" class="brand" value="Ketex"> Ketex</label>
      <label><input type="checkbox" class="brand" value="Indiforce"> Indiforce</label>
      <label><input type="checkbox" class="brand" value="Lambency"> Lambency</label>
      <label><input type="checkbox" class="brand" value="Vida"> Vida</label>
      <label><input type="checkbox" class="brand" value="Emblazon"> Emblazon</label>
      <label><input type="checkbox" class="brand" value="Gladiator"> Gladiator</label>
      <label><input type="checkbox" class="brand" value="Indigo"> Indigo</label>
      <label><input type="checkbox" class="brand" value="Baleshwar"> Baleshwar</label>
      <label><input type="checkbox" class="brand" value="Levis"> Levis</label>
      <label><input type="checkbox" class="brand" value="UniVibe"> UniVibe</label>
    </div>
    
    <div class="filter-box">
      <h2>Get by type</h2>
      <label><input type="checkbox" class="category" value="Shirt"> Shirt</label>
      <label><input type="checkbox" class="category" value="Jeans"> Jeans</label>
      <label><input type="checkbox" class="category" value="Jacket"> Jackets</label>
      <label><input type="checkbox" class="category" value="T-shirt"> T-shirt</label>
      <label><input type="checkbox" class="category" value="Hoodie"> Hoodie</label>
      <label><input type="checkbox" class="category" value="Ethnic"> Ethnic</label>
    </div>
    
    <div class="filter-box">
      <h2>Discount</h2>
      <label><input type="checkbox" class="discount" value="0-20"> Upto 20%</label>
      <label><input type="checkbox" class="discount" value="21-40"> 21 - 40%</label>
      <label><input type="checkbox" class="discount" value="41-60"> 41 - 60%</label>
      <label><input type="checkbox" class="discount" value="61-80"> 61 - 80%</label>
      <label><input type="checkbox" class="discount" value="81-100"> More than 80%</label>
    </div>
    
    <div class="filter-box">
      <h2>Choose by Color</h2>
      <label><input type="checkbox" class="color" value="Red"> Red</label>
      <label><input type="checkbox" class="color" value="Green"> Green</label>
      <label><input type="checkbox" class="color" value="Yellow"> Yellow</label>
      <label><input type="checkbox" class="color" value="Blue"> Blue</label>
      <label><input type="checkbox" class="color" value="Brown"> Brown</label>
      <label><input type="checkbox" class="color" value="Black"> Black</label>
      <label><input type="checkbox" class="color" value="Maroon"> Maroon</label>
      <label><input type="checkbox" class="color" value="Skyblue"> Skyblue</label>
      <label><input type="checkbox" class="color" value="White"> White</label>
      <label><input type="checkbox" class="color" value="Orange"> Orange</label>
      <label><input type="checkbox" class="color" value="Grey"> Grey</label>  
    </div>

    <div class="filter-box">
      <h2>Rating</h2>
      <label><input type="checkbox" class="Rating" value="1-2"> Below 2</label>
      <label><input type="checkbox" class="Rating" value="2-3"> 2.1 - 3.0</label>
      <label><input type="checkbox" class="Rating" value="3-4"> 3.1 - 4.0</label>
      <label><input type="checkbox" class="Rating" value="4-5"> Above 4</label>
    </div>

    <div class="filter-box">
      <h2>Sort by Price</h2>
      <label><input type="checkbox" class="sort" value="asc"> Low to High</label>
      <label><input type="checkbox" class="sort" value="desc"> High to Low</label>
    </div>
  </div>

  <!-----------------------------------------For Getting Products------------------------------------------->
  <div id="right">
    
  </div>
  
</div>
<div class="pagination">
  <button class="pagination-button" data-page-number="1">1</button>
  <button class="pagination-button" data-page-number="2">2</button>
  <button class="pagination-button" data-page-number="3">3</button>
  <button class="pagination-button" data-page-number="4">4</button>
  <button class="pagination-button" data-page-number="5">5</button>
</div><br>


<!--------------------------------------------------FOOTER------------------------------------------------->

<div id="footer">
    <div>
      <h4>Shopper Central</h4>
      <a href="">Easy Returns & Replacements</a>
      <a href="">Our Policies</a>
      <a href="">CluesBucks</a>
      <a href="">Payment Options</a>
      <a href="">ShopUnique Surety</a>
      <a href="">FAQs (Help)</a>
      <a href="">Service Centers</a>
      <a href="">User Agreement</a>
    </div>
    <div>
      <h4>Merchant Central</h4>
      <a href="">Merchant Panel</a>
      <a href="">How to Sell</a>
      <a href="">Commission Structure</a>
      <a href="">Fullfillment Policy</a>
      <a href="">Merchant Blog</a>
      <a href="">Policies & Rules</a>
      <a href="">User Agreement</a>
      <a href="">Seller Summit</a>
      <a href="">Developer Resources</a>
    </div>
    <div>
      <h4>About Us</h4>
      <a href="">History</a>
      <a href="">Band of Trust</a>
      <a href="">In the News</a>
      <a href="">Awards</a>
      <a href="">Careers</a>
      <a href="">Blog</a>
    </div>
    <div>
      <h4>Contact Us</h4>
      <a href="">Merchant Support</a>
      <a href="">Bulk Orders</a>
      <a href="">Press</a>
    </div>
    <div>
      <h4>Press</h4>
      <a href="">In the News</a>
    </div>
  </div>
  
  <div id="social">
    <div>
      <h4>Keep In Touch</h4>
      <a href="https://twitter.com/shopclues"><i style="margin-left: 0;" class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/ShopClues/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="https://www.youtube.com/channel/UCnxPAa_6EL5ggl0_FRq6Zjw"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
      <a href="https://www.pinterest.com/shopclues/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/company/shopclues/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      <a href="https://plus.google.com/110218897457374040465/posts"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
    </div>
    <div>
      <h4>100% Secure and Trusted Payment</h4>
      <img src="https://images.shopclues.com/images/ui/pgateway_dkt@2x.png" alt="">
    </div>
  </div>
  
  <div id="lastline">
    <p>Terms of Use | Privacy Policy | Security Bug Report | States Privacy Right | Do Not sell or Share My Personal Information | 
      Transperancy in Supply Chains | Targeted Ad Preferences | Limit the Use of My Sensitive Personal Information | Wall of Fame</p>
    <p style="font-weight:bold">Copyright © 2011-2023 Clues Network Pvt. Ltd.</p>
  </div>


  <script src="./scripts/mensproduct.js"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>

  