<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thankyou</title>
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico">
    <link rel="stylesheet" href="./styles/thankyou.css">
</head>
<body>
    <div id="thankyou">
        <img src="./images/thankyou.png" alt="thankyou">
        <a href="./index.html">Continue Shopping?</a>
    </div>

    <div id="link">
        
    </div>
</body>
</html>